.css-smran7 {
    margin-top: auto;
    background-color: rgb(20, 22, 34);
}

.css-1d3r2lt {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 55px 30px;
    font-size: 14px;
    max-width: 1020px;
    margin: 0px auto;
}
.css-8at0mx {
    display: flex;
    flex-direction: column;
}
.css-z34z8j {
    margin: -9px 0px 20px;
    width: 100%;
    max-width: 200px;
}
.css-j2onl9 {
    font-size: 10px;
    margin-bottom: 16px;
    max-width: 310px;
}
.css-1sg2lsz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-jsj4j0 {
    border: none;
}
.css-1c2cxsw {
    margin-top: -5px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 99px;
    color: rgba(177, 182, 198, 0.25);
    font-size: 28px;
    font-family: "Geogrotesque Wide", sans-serif;
    font-weight: 800;
    font-style: normal;
}
