button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}
button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.css-13107in > :nth-of-type(1) {
  animation-delay: 0s;
}
.css-13107in > * {
  animation: 0.2s ease-out 0s 1 normal both running animation-1xy0ntl;
}
img {
  vertical-align: middle;
  border-style: none;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
textarea {
  overflow: auto;
  resize: vertical;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.css-14c5l9t input, .css-14c5l9t textarea {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Geogrotesque Wide", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
.css-14c5l9t input:disabled, .css-14c5l9t textarea:disabled {
  color: rgb(177, 182, 198);
}
.css-14c5l9t input, .css-14c5l9t textarea, .css-14c5l9t input:focus, .css-14c5l9t textarea:focus, .css-14c5l9t input:hover, .css-14c5l9t textarea:hover, .css-14c5l9t input:active, .css-14c5l9t textarea:active {
  outline: none;
  border: none;
  background: none;
}

.css-1umk8r2 input, .css-1umk8r2 textarea, .css-1umk8r2 input:focus, .css-1umk8r2 textarea:focus, .css-1umk8r2 input:hover, .css-1umk8r2 textarea:hover, .css-1umk8r2 input:active, .css-1umk8r2 textarea:active {
  outline: none;
  border: none;
  background: none;
}
.css-1umk8r2 input, .css-1umk8r2 textarea {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-family: "Geogrotesque Wide", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.css-yl3y1i {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 250ms ease 0s;
}
@media (min-width: 750px) {
  .css-yl3y1i {
      padding-left: 240px;
      padding-right: 340px;
  }
}
.css-1gcbewu {
  flex: 1 1 0%;
  min-height: 0px;
}
.css-1polf3r {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 250ms ease 0s;
}
@media (min-width: 750px) {
  .css-1polf3r {
      padding-left: 240px;
      padding-right: 248px;
  }
}

.error-message{
  transition: all 1s ease-out;
}
.hTTvsjh{
    color: #f5f6f7;
}

@media only screen and (max-width: 650px){
    .error-message {
        position: fixed;
        background: #24262B;
        width: 97%;
        left: 6px;
        top: 2%;
        border-radius: 20px;
        padding: 5px 15px;
        margin: 0;
        z-index: 10000000;
    }
}

@media only screen and (min-width: 650px){
    .error-message{
        position: fixed;
        background: #24262B;
        width: 400px;
        left: 6px;
        bottom: 2%;
        border-radius: 8px;
        padding: 5px 15px;
        margin: 10px;
        z-index: 10000000;
    }
}